@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.modalDescription {
  margin-bottom: layout.$spacing-05;
}

.prescriptionTile {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: layout.$spacing-01 0 layout.$spacing-03;
  padding: 0;
  background-color: #fff;
  border-left: layout.$spacing-03 solid var(--brand-03);
  color: $text-02;
  margin-bottom: layout.$spacing-05 !important;
}
