@use '@carbon/colors';
@use '@carbon/layout';

.actionsContainer {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.actionCluster {
  gap: layout.$spacing-03;
  display: flex;
  flex-direction: row;
}
