@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '../root.scss';

title {
  width: 6.938rem;
  height: 1.75rem;
  margin: 0.438rem 22.875rem 0.813rem 0;
  font-family: IBMPlexSans;
  font-size: 1.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}

.link {
  text-decoration: none;
}

.breadcrumbsSlot {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.prescriptionTabsContainer {
  height: 100%;
  width: 100%;

  :global(.cds--tab-content) {
    padding: 0 !important;
  }
}

.prescriptionTabs {
  grid-column: 'span 2';
  padding: 0 spacing.$spacing-05;
}

.newListButton {
  width: fit-content;
  justify-self: end;
  align-self: center;
}

.tabsContainer {
  background-color: $ui-02;
}

.hiddenTabsContent, .tabs .hiddenTabsContent {
  display: none;
}

.patientListTableContainer {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  height: 100%;
  padding: 0.5rem spacing.$spacing-05;
  background-color: $ui-01;
}

.searchContainer {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding-top: 0.5rem;
}

.addPrescriptionBtn {
  width: 10rem !important;
  padding: 0.5rem !important;
  margin-left: 1rem;
  margin-right: 1rem;
}

.patientSearch {
  width: 25rem;
  // background-color: $ui-02;
  border-bottom-color: $ui-03;
  // background-color: $ui-01 !important;
}

.search {
  width: 100%;
  max-width: 16rem;
  background-color: $ui-02;
  border-bottom-color: $ui-03;
}
