@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.productiveHeading01 {
  @include type.type-style('heading-01');
}

.productiveHeading02 {
  @include type.type-style('heading-02');
}

.productiveHeading03 {
  @include type.type-style('heading-03');
}

.productiveHeading04 {
  @include type.type-style('heading-04');
}

.bodyLong01 {
  @include type.type-style('body-01');
}

.bodyShort01 {
  @include type.type-style('body-compact-01');
}

.bodyShort02 {
  @include type.type-style('body-compact-02');
}

.text02 {
  color: $text-02;
}

.label01 {
  @include type.type-style('label-01');
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9000;
  justify-items: center;
  align-items: center;
}

title {
  width: 6.938rem;
  height: 1.75rem;
  margin: 0.438rem 22.875rem 0.813rem 0;
  font-family: IBMPlexSans;
  font-size: 1.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}

.link {
  text-decoration: none;
}

.breadcrumbsSlot {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.prescriptionTabsContainer {
  height: 100%;
  width: 100%;

  :global(.cds--tab-content) {
    padding: 0 !important;
  }
}

.prescriptionTabs {
  grid-column: 'span 2';
  padding: 0 layout.$spacing-05;
}

.newListButton {
  width: fit-content;
  justify-self: end;
  align-self: center;
}

.tabsContainer {
  background-color: $ui-02;

  :global(.cds--tabs__nav-item--selected) {
    box-shadow: inset 0 2px 0 0 var(--brand-03) !important;
  }

  :global(.cds--tab--list) button {
    max-width: 12rem !important;
  }
}

.hiddenTabsContent,
.tabs .hiddenTabsContent {
  display: none;
}

.patientListTableContainer {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  height: 100%;
  margin: 0 layout.$spacing-05;
  background-color: $ui-01;
  border: 0.5px solid #e0e0e0;

  :global(.cds--data-table-container) {
    padding-top: 0 !important;
  }

  tbody > tr > :nth-child(2) {
    white-space: nowrap;
  }

  :global(.cds--data-table td) {
    height: unset !important;
  }

  :global(.cds--data-table--zebra) tbody tr[data-parent-row]:nth-child(4n + 1) td {
    background-color: $ui-02;
    border-bottom: 1px solid $ui-03;
    border-top: 1px solid $ui-03;
  }

  :global(.cds--data-table--zebra) tbody tr[data-parent-row]:nth-child(4n + 3) td {
    background-color: $ui-01;
    border-bottom: 1px solid $ui-03;
  }

  :global(.cds--pagination) {
    border-top: none !important;
  }

  :global(.cds--table-expand__button) {
    height: 2rem !important;
  }
}

.searchContainer {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0.5rem 1rem 0;

  :global(.cds--search-magnifier-icon) {
    z-index: 0 !important;
  }

  input {
    background-color: #fff;
  }
}

.addPrescriptionBtn {
  width: 10rem !important;
  padding: 0.5rem !important;
  margin-left: 1rem;
  margin-right: 1rem;
}

.patientSearch {
  width: 25rem;
  border-bottom-color: $ui-03;
}

.locationFilter {
  width: 25rem;
}

.search {
  width: 100%;
  max-width: 16rem;
  background-color: $ui-02;
  border-bottom-color: $ui-03;
}

.hiddenRow {
  display: none;
}

.filterEmptyState {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: layout.$spacing-09;
  text-align: center;
  background-color: $ui-02;
}

.filterEmptyStateTile {
  margin: auto;
  background-color: $ui-01;
}

.filterEmptyStateContent {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: layout.$spacing-03;
}

.filterEmptyStateHelper {
  @include type.type-style('body-compact-01');
  color: $text-02;
}
