@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.link {
  text-decoration: none;
}

.breadcrumbsSlot {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.prescriptionTabsContainer {
  height: 100%;
  width: 100%;

  :global(.cds--tab-content) {
    padding: 0 !important;
  }
}

.newListButton {
  width: fit-content;
  justify-self: end;
  align-self: center;
}

.tabsContainer {
  background-color: $ui-02;
  padding: 0 layout.$spacing-05;

  :global(.cds--tabs__nav-item--selected) {
    box-shadow: inset 0 layout.$spacing-01 0 0 var(--brand-03) !important;
  }

  :global(.cds--tab--list) button {
    max-width: 12rem !important;
  }
}

.patientListTableContainer {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  height: 100%;
  margin: 0 layout.$spacing-05;
  background-color: $ui-01;
  border: 0.5px solid #e0e0e0;

  :global(.cds--data-table-container) {
    padding-top: 0 !important;
  }

  tbody > tr > :nth-child(2) {
    white-space: nowrap;
  }

  :global(.cds--data-table td) {
    height: unset !important;
  }

  :global(.cds--data-table--zebra) tbody tr[data-parent-row]:nth-child(4n + 1) td {
    background-color: $ui-02;
    border-bottom: 1px solid $ui-03;
    border-top: 1px solid $ui-03;
  }

  :global(.cds--data-table--zebra) tbody tr[data-parent-row]:nth-child(4n + 3) td {
    background-color: $ui-01;
    border-bottom: 1px solid $ui-03;
  }

  :global(.cds--pagination) {
    border-top: none !important;
  }

  :global(.cds--table-expand__button) {
    height: layout.$spacing-07 !important;
  }
}

.searchContainer {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: layout.$spacing-05 layout.$spacing-05 0;

  :global(.cds--search-magnifier-icon) {
    z-index: 0 !important;
  }

  input {
    background-color: #fff;
  }
}

.addPrescriptionBtn {
  width: layout.$spacing-13 !important;
  padding: layout.$spacing-05 !important;
  margin-left: layout.$spacing-05;
  margin-right: layout.$spacing-05;
}

.patientSearch {
  width: 25rem;
  border-bottom-color: $ui-03;
}

.locationFilter {
  width: 25rem;
}

.search {
  width: 100%;
  max-width: 16rem;
  background-color: $ui-02;
  border-bottom-color: $ui-03;
}

.hiddenRow {
  display: none;
}

.filterEmptyState {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: layout.$spacing-09;
  text-align: center;
  background-color: $ui-02;
}

.filterEmptyStateTile {
  margin: auto;
  background-color: $ui-01;
}

.filterEmptyStateContent {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: layout.$spacing-03;
}

.filterEmptyStateHelper {
  @include type.type-style('body-compact-01');
  color: $text-02;
}
