@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.historyAndCommentsContainer {
  max-width: 80%;

  form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    input {
      vertical-align: middle;
      margin: 0 10px 0 0;
      padding: 10px;
      border: 1px solid colors.$gray-50 !important;
      background-color: white;
    }

    button {
      width: 90px;
      height: 20px;
      min-height: 2.5rem !important;
    }

    :global(.cds--btn--ghost) {
      width: 8rem !important;
    }
  }

  .baseTile {
    width: 100%;
    margin: layout.$spacing-01 0 layout.$spacing-03;
    padding: 0 layout.$spacing-03 0 layout.$spacing-03;
    background-color: #fff;
    color: $text-02;
    margin-bottom: layout.$spacing-05 !important;
  }

  .requestTile {
    @extend .baseTile;
    border-left: layout.$spacing-02 solid var(--brand-03);
  }

  .dispenseTile {
    @extend .baseTile;
    border-left: layout.$spacing-02 solid red;
  }

  .medicationEventActionMenu {
    float: right;
  }
}
