@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.previousDispenseTile {
  padding: layout.$spacing-04 layout.$spacing-05;
  margin: layout.$spacing-05 0;
}

.headerRow {
  display: flex;
  align-items: center;
  gap: layout.$spacing-02;
}

.medicationName {
  font-weight: 600;
}

.tileContent {
  margin-top: layout.$spacing-02;
}

.metaRow {
  margin-top: layout.$spacing-02;
  color: $text-02;
  display: flex;
  align-items: center;
  gap: layout.$spacing-03;
  font-size: layout.$spacing-04;
}

.metaDivider {
  color: $ui-04;
}
