@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.productiveHeading02 {
  color: $color-gray-70;
  @include type.type-style('productive-heading-02');
}

:global(.omrs-breakpoint-lt-desktop) .formWrapper {
  background-color: $openmrs-background-grey;
}

:global(.omrs-breakpoint-gt-tablet) .formWrapper {
  background-color: $ui-02;
}

.formGroup {
  display: flex;
  margin-bottom: layout.$spacing-02;
  padding: layout.$spacing-05;
}

:global(.omrs-breakpoint-lt-desktop) .formGroup > span {
  flex: 1;
}

:global(.omrs-breakpoint-lt-desktop) .formGroup > div {
  flex: 3;
}

.formGroup span {
  @extend .productiveHeading02;
}

.bannerLoading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.patientInfo {
  position: sticky;
  z-index: 1000;
  background-color: $ui-02;
  top: layout.$spacing-09;
  overflow-y: auto;
}

.dateTimeContainer {
  display: flex;
  margin: layout.$spacing-05 0;
}

.timePickersContainer,
.frequencyAndDay {
  display: flex;

  > div {
    margin-right: layout.$spacing-03;
  }
}

.datePickerControl {
  display: flex;
  flex-direction: column;

  > div {
    margin-bottom: 1rem;
  }
}

:global(.omrs-breakpoint-lt-desktop) .formGroup {
  flex-direction: row;
}

:global(.omrs-breakpoint-gt-tablet) .formGroup {
  flex-direction: column;
}

.buttonGroup {
  display: flex;
  position: sticky;
  bottom: 0;
  width: 100%;
}

:global(.omrs-breakpoint-lt-desktop) .buttonGroup {
  padding: layout.$spacing-05 layout.$spacing-06;
  background-color: $ui-02;
}

.buttonGroup button {
  max-width: none;
  width: 50%;
  height: layout.$spacing-10;
  align-items: flex-start;
}

.reviewContainer {
  margin: layout.$spacing-03 0 0 0 !important;
}

.dispenseContainer {
  margin: layout.$spacing-03 0;
}
