@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.medicationTile {
  background-color: white;
  border-left: layout.$spacing-02 solid var(--brand-03);
  color: $text-02;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: layout.$spacing-01 0 layout.$spacing-05 layout.$spacing-05;
  padding: 0 layout.$spacing-05;
  width: 100%;
}

.medicationName {
  font-size: layout.$spacing-05 !important;
}

.editButton {
  :global(.cds--tooltip-content) {
    color: white !important;
  }
}
