@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.medicationTile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 2px 0 8px;
  padding: 0 8px 0 8px;
  background-color: #fff;
  border-left: 4px solid var(--brand-03);
  color: $text-02;
  margin-bottom: 1rem !important;
}

.medicationName {
  font-size: 15px !important;
}
