@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.medicationName {
  font-size: 15px !important;
}

.bodyLong01 {
  font-size: 13px !important;
}

.dosage,
.quantity,
.refills {
  color: #525252;
  font-weight: bold;
}
