@use '@carbon/colors';
@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.conditionContainer {
  background-color: colors.$white-0;
  border: 1px solid colors.$gray-20;
  margin-bottom: layout.$spacing-05;
}
