@use '@carbon/layout';
@use '@carbon/colors';
@use '@carbon/type';
@import '~@openmrs/esm-styleguide/src/vars';

.conditionContainer {
  background-color: colors.$white-0;
  border: 1px solid colors.$gray-20;
  margin-bottom: 1rem;
}
