@use '@carbon/layout';
@use '@carbon/colors';
@use '@openmrs/esm-styleguide/src/vars' as *;

.diagnosesContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: layout.$spacing-05;
  & > :global(.cds--tile) {
    min-height: 3rem !important;
    padding-left: 10px !important;
    margin: auto;
  }
}

.prescriptionTile {
  width: 100%;
  margin: layout.$spacing-01 0 layout.$spacing-03;
  padding: 0;
  background-color: $white;
  border-left: layout.$spacing-02 solid var(--brand-03);
  color: $text-02;
  margin-bottom: layout.$spacing-05 !important;
}
